
.header1 {
    background-color: #4321d8;
    
    text-align: left;
    /* font-size: 17px; */
     color: white; 
     margin-top: 5%;
     padding-left: 5%;     
  }

  h6 {display:inline;}

  .header2{ 
    background-color: #ffffff;
    /* margin-right:10%;  */
   text-align: left;
   /* font-size: 17px; */
    color: rgb(8, 8, 8); 
     padding:6%; 
    /* padding-left:20%; */
    

  }

  .header3 {
    background-color: #4321d8;
    
    text-align: left;
    /* font-size: 17px; */
     color: white; 
     margin-top: 5%;
     padding-left: 5%;     
  }

  .card-head{
      background-color: gray;
  }

  @media (max-width: 480px) {

    .rotateMobile{
    transform: rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
    }
    }

    @media (min-width: 720px) {

      .rotateMobile{
      transform: rotate(30deg);
      -ms-transform:rotate(0deg); /* IE 9 */
      -moz-transform:rotate(0deg); /* Firefox */
      -webkit-transform:rotate(30deg); /* Safari and Chrome */
      -o-transform:rotate(0deg); /* Opera */

      }

      div.absolute {
        position: absolute;
         top: 50%; 
         width:100%; 
         height: 20%;
        color:violet;
        position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;

    
      }

      .di {
        position: absolute;
        left: -85px;
        top: 70%;
        width: 1334px;
        height: 32%;
        background-color: rgb(255, 255, 255);
    }
    
          


    
      }

  .btn-primary{
    background-color: rgb(48, 44, 44);
  }

  .btn-secondary{
    background-color: transparent;
  }

  .cutdog{
    background-color: white;
  }
  

  .im {
    position: relative;
    left: 20px;
}


.card{
  margin: 15%;
}

.one{
  position:relative; top: 45%;

}

.two{
  position:relative; top: 45%;
}

.three{
  position:relative; top: 5%;
  
}

.four{
  position:relative; top: 80%;
}

.five{
  position:relative; top: 75%;
}

.six{
  position:relative; top: 10%;
}

.seven{
  position:absolute;top:100%; right:20%;
}

.eight{
  display:inline-flex;
  position:relative; right:2%;
  justify-content: center;
  align-items: center;
  
}