
.header1 {
    background-color: #5b3aec;
    
    text-align: left;
    
     color: white; 
     margin-top: 2%;
     margin-left: -4.5%;
     margin-right: -4.5%;
    
     padding-left: 5%;    
     padding-right:10%; 
     padding-bottom
  }

  h6 {display:inline;}

  .header2{ 
    background-color: #ffffff;
   
   text-align: left;
   
    color: rgb(8, 8, 8); 
     padding:6%; 
    
    

  }

  .header3 {
    background-color: #5b3aec;
    
    text-align: left;
    
     color: white; 
     margin-top: 5%;
     margin-left: -4.5%;
     margin-right: -4.5%;
     padding-left: 5%; 
         
  }

  .header4{
    background-color: #5b3aec;
    
    text-align: left;
    color: white; 
    margin-top: 5%;
    margin-left: -4.5%;
    margin-right: -4.5%;
    padding: 4%; 
    padding-bottom:10%;
  }

  .card-head{
      background-color: gray;
  }

  @media (max-width: 480px) {

    html,body{
      width:100%;
      height:100%;
      margin:0;
      padding:0;
      overflow-x: hidden;
    }

    .rotateMobile{
    transform: rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
    }
    }

    @media (min-width: 720px) {

      html,body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x: hidden;
      }

      .rotateMobile{
      transform: rotate(30deg);
      -ms-transform:rotate(0deg); /* IE 9 */
      -moz-transform:rotate(0deg); /* Firefox */
      -webkit-transform:rotate(30deg); /* Safari and Chrome */
      -o-transform:rotate(0deg); /* Opera */

      }

      div.absolute {
        position: absolute;
         top: 50%; 
         width:100%; 
         height: 20%;
        color:violet;
        position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;

    
      }

      .di {
        position: absolute;
        left: -85px;
        top: 70%;
        width: 1450px;
        height: 32%;
        background-color: rgb(255, 255, 255);
    }
    
       
      }

  .btn-primary{
    background-color: rgb(48, 44, 44);
  }

  .btn-secondary{
    background-color: transparent;
  }

  .cutdog{
    background-color: white;
  }
  

  .im {
    position: relative;
    left: 20px;
}


.card{
  margin: 15%;
}

.one{
  position:relative; top: 45%;

}

.two{
  position:relative; top: 45%;
}

.three{
   padding-top: 13%;
   margin-bottom: 6%;
  
}

.four{
  position:relative; top: 80%;
}

.five{
  position:relative; top: 75%;
}

.six{
  position:relative; top: 10%;
}

.seven{
  position:absolute;top:100%; right:20%;
}

.eight{
  display:inline-flex;
  position:relative; right:1px;
  justify-content: center;
  align-items: center;
  
}

.nine{
  display:inline-flex;
  position:relative; left:25%;
  justify-content: center;
  align-items: center;

}

.ten{
  display:flex;
  position:relative; right:14%; bottom:10px;
  justify-content: center;
  align-items:right ;
}

.eleven{
  margin-top: 3%;
  padding-top:5%;
  color:black;
}

.icons{
  position:relative; top:120%;
  font-size:135%;
}

.copyright{
  position:relative; top:190%;
  font-size:75%;
}

.thirteen{
  position:relative; left:8%;
}

.fifteen{
  display:inline-flex;
  position:relative; left:25%;
  justify-content: center;
  align-items: center;
}
