body{
  @media screen and (max-width:1200px) and (min-width:768px){
    background-color:white;
  }
}



/*first header*/
.header1 {
    background-color: #5b3aec;
    padding-left: 10%;
    
    /* text-align: left;    
     color: white; 
     height:25%;
     padding-top:40px;  
     padding-left: 0.08 rem;    
     padding-right:0.1 rem;
     padding-bottom:0.02 rem;  */
    }

h6 {display:inline;}

/*features*/
.header2{ 
    background-color: #ffffff;   
    text-align: left;   
    color: rgb(8, 8, 8); 
    padding:6%; 
    }
   

/*Carousel*/
.header3 {
    background-color: #5b3aec;
    
    text-align: left;
    
     color: white; 
     margin-top: 5%;
     
     padding-left: 5%; 
         
  }
   

/*the app that your dog needs*/
.header4{
    background-color: #5b3aec;
    
    text-align: left;
    color: white; 
    margin-top: 5%;
    padding: 4%; 
    padding-bottom:10%;
  }
   
/*cards title head*/
.card-head{
      background-color: gray;
  }
  

/* dog image rotation*/
@media (max-width: 720px) {

    html,body{
      width:100%;
      height:100%;
      margin:0;
      padding:0;
      overflow-x: hidden;
    }

    .rotateMobile{
    transform: rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
    }
    }

@media (min-width: 720px) {

      html,body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x: hidden;
      }

      .rotateMobile{
      transform: rotate(25deg);
      -ms-transform:rotate(0deg); /* IE 9 */
      -moz-transform:rotate(0deg); /* Firefox */
      -webkit-transform:rotate(25deg); /* Safari and Chrome */
      -o-transform:rotate(0deg); /* Opera */

      }

      div.absolute {
        position: absolute;
        top: 50%; 
        width:100%; 
        height: 20%;
        color:violet;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;    
      }
      

    /* dog image cutter*/
      .di {
        position: absolute;
        left: -125px;
        top: 82%;
        width: 1500px;
        height: 30%;
        background-color: rgb(255, 255, 255);
    }    
       
      }
   

  /* button colors*/
  .btn-primary{
    background-color: rgb(48, 44, 44);
  }

  .btn-secondary{
    background-color: transparent;
  }

  /* first header*/
  .im {
    position: relative;
    left: 20px;
    }

/*cards margin*/
.card{
  margin: 15%;
}

/* The APP that your dog needs position*/
.one{
  position:relative; top: 45%;

}

/* Lbc Mtv*/
.three{
   padding-top: 13%;
   margin-bottom: 6%;
  
}

/*packages word position*/
.four{
  position:relative; top: 80%;
}

/*"something interesting here"*/
.five{
  position:relative; top: 75%;
}

/*card position*/
.six{
  position:relative; top: 10%;
}


.seven{
  position:absolute; bottom:35%; right:20%;
}

/* dog app position*/
.eight{
  display:inline-flex;
  position:relative; top:0.32px;
  justify-content: center;
  align-items: center;
  
}

/*Meet my dog properties*/
.nine{
  font-weight: bold;
  font-size: 47px;
  position:relative; left:170px; bottom:90px;
  
  padding-left:20px;

}

.ten{
  display:flex;
  position:relative; right:14%; bottom:10px;
  justify-content: center;
  align-items:right ;
}

/*woof carousel*/
.eleven{
  margin-top: 3%;
  padding-top:5%;
  color:black;
}

.icons{
  position:relative; top:120%;
  font-size:135%;
}

/*last page icons*/
.copyright{
  position:relative; top:190%;
  font-size:75%;
}

/*my app*/
.thirteen{
  display:inline-flex;
  position:relative; left:172px; bottom:47px;
  padding-left:20px;
  justify-content: center;
  align-items: center;
}

.fifteen{
  display:inline-flex;
  position:relative; left:25%;
  
}

/*download button*/
.sixteen{
  position:relative; left:150px; bottom:45px;
  padding-bottom: 10px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}
  


.seventeen{
  padding:0.125 rem;
  margin:o.125 rem;
  position:relative; top: 30px;
}

.twenty{
  color: #5b3aec;
}

/*features symbols*/
.eighteen{
  font-size:5rem;
  width:100%;
  text-align:center;
}

.thirty{
  position:relative; top: 20px;
}

/*packages positions*/
.fifty{
  margin-left: 0.02 rem;
  margin-right: 0.02 rem;
}

/*pricing contact download*/
.new{
  font-weight: bold;
}

